@font-face {
    font-family: Sansation;
    src: url(Sansation/Sansation-Bold.ttf);
}

body{
    width: 700px;
    height: 700px;
    margin: 0px;
}
.buttons{
    width: 1200px;
    display: inline-flex;
    height: 100px;
    background-color: #4391CC;
}


.main{
    width: 158px;
    height: 100px;
    border: 0px;
    background-color: #4391CC;
    color: #EFF9FF;
    font-size: 24px;
    font-family: 'Sansation';
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.main:hover{
    color: #4391CC;
    background-color: #EFF9FF;
}

.locks{
    width: 158px;
    height: 100px;
    border: 0px;
    background-color: #4391CC;
    color: #EFF9FF;
    font-size: 24px;
    font-family: 'Sansation';
    padding-left: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.locks:hover{
    color: #4391CC;
    background-color: #EFF9FF;
    
}

.cams{
    width: 158px;
    height: 100px;
    border: 0px;
    background-color: #4391CC;
    color: #EFF9FF;
    font-size: 24px;
    font-family: 'Sansation';
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.cams:hover{
    color: #4391CC;
    background-color: #EFF9FF;
}

.datchiki{
    width: 158px;
    height: 100px;
    border: 0px;
    background-color: #4391CC;
    color: #EFF9FF;
    font-size: 24px;
    font-family: 'Sansation';
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.datchiki:hover{
    color: #4391CC;
    background-color: #EFF9FF;
}



.profile-logo {
    margin-left: 498px;
    background-color: #EFF9FF;
    border: 0;
    background-size: contain;
    width: 70px;
    
    transition: background-color 0.3s ease, color 0.3s ease;
}
.profile1, .profile2 {
  position: absolute;
  width: 50px;
  top: 25px;
    left: 1140px;
}

.profile2 {
  z-index: 3; /* По умолчанию ниже */
  background-image: url('images/profile-2.png');
}

.profile1 {
  z-index: 2; /* По умолчанию скрыт под .profile1 */
  background-image: url('images/profile-1.png');
  opacity: 0;
  transition: opacity 0.3s;
}





.main-window{
    display: flex;
    width: 1200px;
    height: 600px;
    background-color: #EFF9FF;
    text-align: center;
}


